In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
df_buses_1=pd.read_csv("ap_bus_details.csv")
df_buses_2=pd.read_csv("assam_bus_details.csv")
df_buses_3=pd.read_csv("himachal_bus_details.csv")
df_buses_4=pd.read_csv("jk_bus_details.csv")
df_buses_5=pd.read_csv("kerala_bus_details.csv")
df_buses_6=pd.read_csv("pun_details.csv")
df_buses_7=pd.read_csv("rajasthan_bus_details.csv")
df_buses_8=pd.read_csv("Telangana_bus_details.csv")
df_buses_9=pd.read_csv("up_bus_details.csv")
df_buses_10=pd.read_csv("wb_bus_details.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2798,INDRA(A.C. Seater),19:15,07h 15m,02:30,3.3,INR 567,33 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4972,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:20,08h 00m,03:20,4.2,INR 469,18 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2563,INDRA(A.C. Seater),19:30,05h 55m,01:25,3.3,INR 528,29 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),19:45,06h 45m,02:30,3.3,INR 720,16 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4894,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",19:45,07h 15m,03:00,4.7,INR 469,18 Seats available
...,...,...,...,...,...,...,...,...,...,...
6840,Habra to Kolaghat,https://www.redbus.in/bus-tickets/habra-to-kol...,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,02h 55m,15:40,4.5,INR 87,40 Seats available
6841,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,03h 55m,16:40,4.2,INR 130,40 Seats available
6842,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|14:45,Non AC Seater (2+3),14:45,02h 55m,17:40,4.0,INR 111,40 Seats available
6843,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|15:40,Non AC Seater (2+3),15:40,03h 00m,18:40,3.8,INR 111,19 Seats available
6844,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Barasat-Midnapur - 208|17:00,Non AC Seater (2+3),17:00,02h 00m,19:00,4.0,INR 111,37 Seats available

# Data cleaning

In [3]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6845 entries, 0 to 6844
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         6845 non-null   object
 1   Route_Link         6845 non-null   object
 2   Bus_Name           6797 non-null   object
 3   Bus_Type           6796 non-null   object
 4   Departing_Time     6797 non-null   object
 5   Duration           6797 non-null   object
 6   Reaching_Time      6797 non-null   object
 7   Star_Rating        6797 non-null   float64
 8   Price              6797 non-null   object
 9   Seat_Availability  6796 non-null   object
dtypes: float64(1), object(9)
memory usage: 534.9+ KB

In [4]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       567.0
1       469.0
2       528.0
3       720.0
4       469.0
        ...
6840     87.0
6841    130.0
6842    111.0
6843    111.0
6844    111.0
Name: Price, Length: 6845, dtype: float64

In [5]:
#convert Ratings to numeric
Final_df["Star_Rating"]=Final_df["Star_Rating"].astype(str)
Final_df["Star_Rating"]=Final_df["Star_Rating"].str.replace("New","")
Final_df["Star_Rating"]=Final_df["Star_Rating"].str.strip()
Final_df["Star_Rating"]=Final_df["Star_Rating"].str.split().str[0]
Final_df["Star_Rating"] = pd.to_numeric(Final_df["Star_Rating"], errors='coerce')
Final_df["Star_Rating"].fillna(0,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_33736\3793731372.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Star_Rating"].fillna(0,inplace=True)

In [6]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6845 entries, 0 to 6844
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         6845 non-null   object
 1   Route_Link         6845 non-null   object
 2   Bus_Name           6797 non-null   object
 3   Bus_Type           6796 non-null   object
 4   Departing_Time     6797 non-null   object
 5   Duration           6797 non-null   object
 6   Reaching_Time      6797 non-null   object
 7   Star_Rating        6845 non-null   float64
 8   Price              6797 non-null   float64
 9   Seat_Availability  6796 non-null   object
dtypes: float64(2), object(8)
memory usage: 534.9+ KB

In [7]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [8]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [9]:
# change dataframe to csv
path=r"C:\Users\HP\OneDrive\ScrapingEX\Red_bus-main\Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [10]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Prachi@2024",database="RED_BUS_DETAILS ")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [11]:
def close_connection():
    my_cursor.close
    conn.close

In [12]:
# Table Creation

my_cursor.execute('''CREATE TABLE IF NOT EXISTS red_bus_details(ID INT UNIQUE AUTO_INCREMENT PRIMARY KEY,Bus_name VARCHAR(255) NOT NULL,
        Bus_type VARCHAR(255) NOT NULL,Start_time VARCHAR(255) NOT NULL,End_time VARCHAR(255) NOT NULL,
        Total_duration VARCHAR(255) NOT NULL,
        Price Float NULL,
        Seats_Available VARCHAR(255) NOT NULL,
        Ratings Float NULL,
        Route_link VARCHAR(255) NULL,
        Route_name VARCHAR(255) NULL);''')
print("Table Created successfully")

Table Created successfully

In [13]:
from sqlalchemy import create_engine
import pandas as pd

# Load your CSV into a pandas DataFrame
df = pd.read_csv('Final_busdetails_df.csv')

# Create the SQLAlchemy engine for your database
engine = create_engine('mysql+mysqlconnector://root:Prachi%402024@127.0.0.1/RED_BUS_DETAILS')

# Write the data into an SQL table
df.to_sql('red_bus_details', engine, if_exists='replace', index=False)

# Close the connection (optional, SQLAlchemy handles it automatically)
engine.dispose()
print("Data inserted successfully!")

Data inserted successfully!

In [14]:
from sqlalchemy import create_engine, inspect

# Create the engine
engine = create_engine('mysql+mysqlconnector://root:Prachi%402024@127.0.0.1/RED_BUS_DETAILS')

# Create an inspector object
inspector = inspect(engine)

# Get the list of tables in the database
tables = inspector.get_table_names()

# Print out the list of tables
print("Available tables:", tables)

# Check if your specific table exists
if 'red_bus_details' in tables:
    print("Table exists!")
else:
    print("Table not found.")

Available tables: ['red_bus_details']
Table exists!

CHECKING IF DATA INSERTED SUCCESFULLY OR NOT!!

In [15]:
import mysql.connector

# Establish connection to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Prachi@2024",
    database="RED_BUS_DETAILS"
)

cursor = conn.cursor()

# Check the number of rows in the table
cursor.execute("SELECT COUNT(*) FROM red_bus_details")
row_count = cursor.fetchone()[0]
print(f"Total rows in the table: {row_count}")

# Retrieve a few rows for inspection
cursor.execute("SELECT * FROM red_bus_details LIMIT 5")  # Adjust limit as needed
rows = cursor.fetchall()

print("Exists Rows:")
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

Total rows in the table: 6796
Exists Rows:
('Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 2798', 'INDRA(A.C. Seater)', '19:15', '07h 15m', '02:30', 3.3, 567.0, '33 Seats available')
('Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 4972', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', '19:20', '08h 00m', '03:20', 4.2, 469.0, '18 Seats available')
('Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 2563', 'INDRA(A.C. Seater)', '19:30', '05h 55m', '01:25', 3.3, 528.0, '29 Seats available')
('Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 2573', 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)', '19:45', '06h 45m', '02:30', 3.3, 720.0, '16 Seats available')
('Hyderabad to Vijayawada', 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada', 'APSRTC - 4894', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', '19:45', '07h 15m', '03:00', 4.7, 469.0, '18 Seats available')